@font-face {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato, Verdana, sans-serif;
    font-size: 10px;   
    max-width: 1024px; 
}

h1 {
    font-size: 25px;
}

.header {
    height: 89px;
    background: #2D303A;
    font-size: 25px;
    display: flex;
}

.logo {
    padding: 29px 0 0 40px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 124px;
    height: 25px;
    text-transform: uppercase;
}

.star {
    color: red;
    font-size: 25px; 
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link-menu {
    width: 375px;
    height: 14px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    display: inline-block;
    margin-top: 42px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
}

.navigation-links:hover {
    cursor: pointer;
}

.navigation-links:first-child {
    color: #F06C64;
}

.navigation-links::after {
    content: "\2B24";
    font-size: 4px;
    color: #FFFFFF;
    margin-left: 12px;
    position: absolute; 
    padding-top: 5px;
}

.navigation-links:last-child::after {
    content: none;
}

.upper-border {
    height: 6px;
    background: #323746;
}

/*


.wrapper {
    background-color: #F06C64;
    height: 594px;
    display: flex;
    justify-content: flex-start;
}

.arrow {
    height: 27px;
    width: 16px;
}

.home {
    color: red;
    position: absolute;
    background-color: royalblue;
}

.phone-vertical {
    height: 458px;
}

.phone-horizontal {
    width: 458px;
}

.under-phone-border {
    height: 6px;
    background-color:#EA676B;
    position: absolute;
    height: 6px;
    left: 0px;
    top: 689px;
}

.service {
    background-color: #F2F2F2;
    position: absolute;
    height: 494px;
    top: 695px;
}

.third-border {
    position: absolute;
    height: 6px;
    top: 1189px;
    background:#FFFFFF;
}

.portfolio  {
    background-color: #2D303A;
    position: absolute;
    height: 864px;
    top: 1195px;
}

.last-border {
    position: absolute;
    height: 6px;
    top: 2059px;
    background-color: #323746;
}

footer {
    position: absolute;
    height: 76px;
    background:#323746;
    top: 2059px;
    
}

*/
