@font-face {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato, Verdana, sans-serif;
    font-size: 10px;
    max-width: 1024px;
    margin: auto;
}

h1 {
    font-size: 25px;
}

.header {
    height: 89px;
    background: #2D303A;
    font-size: 25px;
    display: flex;
}

.logo {
    padding: 29px 0 0 40px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 124px;
    height: 25px;
    text-transform: uppercase;
}

.star {
    color: red;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link-menu {
    width: 375px;
    height: 14px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    display: inline-block;
    margin-top: 42px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
}

.navigation-links:hover {
    cursor: pointer;
}

.navigation-links:first-child {
    color: #F06C64;
}

.navigation-links::after {
    content: "\2B24";
    font-size: 4px;
    color: #FFFFFF;
    margin-left: 16px;
    position: absolute;
    padding-top: 5px;
}

.navigation-links:last-child::after {
    content: none;
}

.upper-border {
    height: 6px;
    background: #323746;
}

.main-screen {
    background-color: #F06C64;
    height: 594px;
    display: flex;
    justify-content: space-between;
}

.arrow {
    height: 27px;
    width: 16px;
    flex-grow: 1;
}

.left-arrow {
    padding: 283px 55.5px 0 40px;
}

.right-arrow {
    padding: 283px 40px 0 0;
}

.completely-vertical {
    flex-grow: 2;
    padding-top: 54px;
}

.shadow-vertical {
    position: absolute;
}

.phone-vertical {
    position: absolute;
    width: 216px;
}

.display-vertical {
    position: absolute;
    padding-top: 65px;
    padding-left: 14px;
}

.completly-horizontal {
    padding-top: 176.5px;
    padding-right: 81px;
    position: relative;
    flex-grow: 3;
}

.phone-horizontal {
    width: 458px;
    position: absolute;
}

.display-horizontal {
    position: absolute;
    padding: 14px 0px 0px 60px;
}

.shadow-horizontal {
    position: absolute;
}

.under-phone-border {
    height: 6px;
    background-color: #EA676B;
}

.service-menu {
    background-color: #F2F2F2;
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    padding-top: 59px;
    font-weight: 900;
    font-size: 3rem;
    line-height: 36px;
    color: #666D89;
}

.service-description {
    padding-top: 18px;
    padding-right: 4px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: left;
    color: #767E9E;
}

.layer-3-column {
    padding: 60px 0 26px 0px;
}

.our-services-navigation {
    display: flex;
    flex-wrap: wrap;
}

.service-block {
    width: 300px;
    height: 104px;
    display: flex;
    margin-bottom: 20px;
    flex-grow: 1;
}

.service-text {
    padding: 0 20px;
}

h3 {
    color: #666D89;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.8rem;
    padding-bottom: 7px;
}

.about-service {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #666D89;
}

.third-border {
    height: 6px;
    background: #FFFFFF;
}

.portfolio {
    background-color: #2D303A;
    height: 864px;
}

.portfolio-text {
    margin-left: 40px;
}

.portfolio-description {
    margin: 13.87px 44px 35.18px 40px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #767E9E;
}

.tag-field {
    margin-left: 40px;
    width: 290px;
    height: 22px;
}

.tag {
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 3px 6px 3px;
    text-align: center;
}

.tag-active {
    color: #DEDEDE;
    border: 1px solid #BBBBBB;
}

.tag-links {
    text-decoration: none;
    padding-right: 10px;
}

.portfolio-boxes {
    margin: 18px 40px 68px 40px;
    height: 601px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-photo {
    width: 220px;
    height: 187px;
}

footer {
    height: 76px;
    background: #323746;
}

.copyright {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #666D89;
}

.social {
    display: inline-block;
    margin-top: 22px;
    margin-left: 668px;
}

.social-button {
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.social-button:last-child {
    margin-right: 0px;
}

.last-border {
    height: 6px;
    background-color: #323746;
}